*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
    justify-content: center;
}
.userBody{
    display: grid;  
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column; */
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;

}
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    color: gold;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}
.footer{
    margin-bottom: 3%;
    color: rgb(118, 100, 4);
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
h1{
    margin-bottom: 5%;
    color: goldenrod;
    background-color: transparent;
}
/* Estilos de inicio */
.inicio{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.logoinicio{
    height: 20%;
    width: 20%;
}
.button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-top: 5vh;
}
.button a {
  color: gold;
  text-decoration: none;
  border-radius: 5%;
}
.button:hover{
    padding: 8px;
    border-radius: 8%;
    transition: 0.3s ease-in-out;
}
.navbar{
    display: flex;
    gap: 45%;
}
.navbar a{
    padding: 2%;
    color: goldenrod;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5%;
    white-space: nowrap;
}
/* estilos para la lista de productos */
.listaProd{
    color: white;
    padding: 10px;
    text-align: center;     
    width: 100dvh;
}
.listaProd ul{
    display: flex;
    flex-direction: column;
}
.listaProd ul li{
    list-style-type: none;
    border: 1px solid grey;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.admin{
display: grid;
grid-template-rows: auto 1fr auto;
text-align: center;
justify-items: center;

}

.adminLogin{
    border: 1px solid black;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
input[type="text"], [type="password"]{
    color: gray;

}